//Placeholders===============/
//Headlines=================//
%primary{
    font-family:$stack-sans-serif;
    color:$turtle-torq;
    line-height:em(15px);
    font-weight:500;
    margin-left:em(10px);
    margin-right:em(10px);
    
    @include mq(medium) {
     margin-left:em(0px);
    }
  }

  %secondary{
    font-family:$stack-sans-serif;
    color:$grey;
    font-weight:100;
    margin-left:em(15px);
    
    @include mq(medium){
    font-size:em(18px);
    margin-left:em(0px);
    padding-right:em(45px);
    }
  }

//Nav Items
%item {
  padding-top:10px;
  margin-top:10px;
  margin-bottom:10px;
}

%nav-a {
    text-decoration: none;
    color: $grey;
    padding:7px 20px;
    margin:30px;
}

%nav-hover {
    background-color:$turtle-torq;
    color:$white;
    border-radius: 2.5px;
}


// Buttons

%btn {
  text-align:center;
  border:none;
  border-radius:3px;
  width:90%;
  padding:10px 0 10px;
  margin-top:em(17px);
  color: $white;
  font-size:em(17px);
  font-weight:bold;

  @include mq(medium){
  padding-left:em(20px);
  padding-right:em(20px);
  }
}

//Border for Blockquote

%border {
	border-left:10px solid $turtle-torq;
	border-radius: 10px 10px 10px 10px;
	margin-right:em(8px);
}

%center-align {
  text-align:center;
}


%link {
  color: $baby-blue;
  text-decoration: none;
}

// Image

%img{
  padding: em(15px);
  @include mq(small){
  
  }
}

%centered {
  text-align: center;
  @include mq(medium){
  margin: auto;
  } 
}

//Columns

%col {
  float: left;
  padding: 0 10px;
  margin-left: 2%;
}