//==============
//Helpers
//==============

// Clearfix

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Center alignment

%center-align {
	text-align: center;
}


//=================
//functions
//=================

//Calculate em values=========//

@function em($target, $context: $base__font-size){
	@return ($target / $context) * 1em;
}

// Set the 'context' width for the grid

@function g-context($g-col-width, $g-col-count, $g-gutter-width) {
	$g-context: ($g-col-width * $g-col-count) + ($g-gutter-width * ($g-col-count - 1));
	@return $g-context;
}

//mixins=========//

@mixin bg-colors($map){
	@each $theme, $color in $map {
	&--#{$theme}{
	background-color:$color;
	}
 }	
}
