//Forms

.form {
	@include flexbox;
	@include flex-direction(column);
	@include el(input){
	border:none;
	border-bottom:3px solid $turtle-torq;
	border-radius:3px;
	padding:20px;
	width:85%;
	font-size:em(17px);
	
	@include mq(medium){
		margin-top:em(20px);
	}
}
	@include el(label) {
		@include mod(hidden){
			display:none;
		}
		display:block;
	}
}

