//===============
// Grid Columns
//===============

//Container 

.container {
	@include flexbox;
	@include flex-direction(column);
	width:90%;
	margin:auto;

	.grid {
	@include el(row) {
		@include flexbox;
		@include flex-direction(column);
		@include align-items(center);
		padding: em(20px);
		@include mq(medium){
			@include flex-direction(row);
			@include justify-content(space-between);
		}
	}
	@include el(col){
	@include g-width;
	}
  }
}

[class^='grid__col--'] {
	margin-top:em(2px);
	border-radius:em(2px);
	@include flexbox;
	@include align-items(center);
	@include align-self(stretch);
	@include flex-direction(column);

	@include mq(medium) {
	padding-top: em(8px);
	padding-bottom: em(8px);
	border-radius:em(8px);
	}
}


.grid__row--12 {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  padding: em(20px);
  @include mq(large) {
    @include flex-direction(row);
    @include justify-content(space-between);
  }
}



.grid__row--12 .grid__col--12 {
  @include mq(large){
    @include flex-direction(row);
  }
 }


// Centered
.centered {
  @extend %centered;
}
	
