//Images

.img {
	&--logo{
		@extend %img;
		width: 100px;
		
		@include mq(medium) {
			width:140px;
		}
	}

	&--avatar{
		@extend %img;
		margin:0 auto;
		@include mq(small){
		width:em(120px);
		}
		@include mq(medium){
		width:em(175px);
		}
	}
	&--frame {
	@extend %img;
	@include mq(small){
	width:200px;
	}
	}
}

